![header%20ipynb.png](attachment:header%20ipynb.png)

# Hands-On
---

Hands-On ini digunakan pada kegiatan Microcredential Associate Data Scientist 2021

# Pertemuan 9
---
Pertemuan 9 (sembilan) pada Microcredential Associate Data Scientist 2021 menyampaikan materi mengenai Mengkonstruksi Data

## Pada Tugas Mandiri Pertemuan 9 

#### silakan Anda kerjakan Latihan 1 s/d 10. Output yang anda lihat merupakan panduan yang dapat Anda ikuti dalam penulisan code :)

# Latihan (1)

### Melakukan import library yang dibutuhkan

In [6]:
# import library pandas

import pandas as pd

# Import library scipy

import scipy as sp

# Import library winsorize dari scipy

from scipy.stats.mstats import winsorize

# Import library trima dari scipy

from scipy.stats.mstats import trima

# Import library RandomSampleImputer dari feature engine imputation

from feature_engine.imputation import RandomSampleImputer

# import library StandardScaler dari sklearn

from sklearn.preprocessing import StandardScaler

In [4]:
pip install feature_engine

Collecting feature_engine
  Downloading feature_engine-1.1.2-py2.py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 10.8 MB/s
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.19.5)
Collecting statsmodels>=0.11.1
  Downloading statsmodels-0.13.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 66.5 MB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.0.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature_engine) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature_engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.2)
Installing collected packages: statsmodels, feature-engine
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed feature-engine-1.1.2 statsmodels-0.13.1

# Latihan (2)

### Menghitung nilai null pada dataset :

    1. Load dataset Iris_Unclean
    2. Tampilkan dataset
    3. Hitung jumlah nilai null pada dataset

In [7]:
# load dataset Iris_Unclean

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

In [8]:
# tampilkan dataset

data.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            NaN           3.5            1.4           0.2  Iris-setosa
1            4.9        2000.0            1.4           0.2  Iris-setosa
2            4.7           3.2           -1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            NaN           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4           -1.5           0.2  Iris-setosa
8            4.4        1500.0            1.4           0.2  Iris-setosa
9            4.9           3.1            1.5           0.1  Iris-setosa

In [9]:
# hitung jumlah nilai null pada dataset

data.isnull().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Latihan (3)

### Melakukan handle missing value dengan Imputasi Mean:

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value Imputasi dengan mean, kemudian masukkan ke variable
     4. Tampilkan 10 data teratas "SepalLengthCm" setelah handle missing value dengan Imputasi mean()

In [10]:
# load dataset Iris_Unclean

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

In [11]:
# ambil 10 data teratas SepalLengthCm, kemudian tampilkan

df = data["SepalLengthCm"].head(10)
df

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [12]:
# mengganti missing value dengan mean(), kemudian masukkan ke variabel

df = df.fillna(df.mean())

In [13]:
# tampilkan 10 data teratas SepalLengthCm setelah handle missing value dengan imputasi mean

df.head(10)

0    4.8625
1    4.9000
2    4.7000
3    4.6000
4    5.0000
5    5.4000
6    4.8625
7    5.0000
8    4.4000
9    4.9000
Name: SepalLengthCm, dtype: float64

# Latihan (4)

### Melakukan handle missing value dengan nilai suka-suka (Arbitrary):

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value dengan imputasi nilai suka-suka (Arbitrary), kemudian masukkan ke variable
     4. Tampilkan 10 data teratas "SepalLengthCm" setelah handle missing value dengan nilai suka-suka

In [ ]:
# load dataset Iris_Unclean

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

In [15]:
# ambil 10 data teratas SepalLengthCm, kemudian tampilkan

df = data["SepalLengthCm"].head(10)
df

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [16]:
# melakukan imputasi nilai suka-suka (Arbitrary), masukkan ke dalam variabel

df = df.fillna(99)

In [17]:
# tampilkan 10 data teratas SepalLengthCm setelah handle missing value dengan nilai suka-suka (arbitary)

df

0    99.0
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6    99.0
7     5.0
8     4.4
9     4.9
Name: SepalLengthCm, dtype: float64

# Latihan (5)

### Melakukan handle missing value dengan frequent category / modus:

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value dengan frequent category / modus
     4. Tampilkan hasil imputasi "SepalLengthCm" setelah handle dengan frequent category / modus

In [ ]:
# load dataset Iris_Unclean

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

In [18]:
# tampilkan 10 data teratas kolom SepalLengthCm

data["SepalLengthCm"].head(10)

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [19]:
# Import SimpleImputer dari sklearn.impute

from sklearn.impute import SimpleImputer

# Mengatasi missing value dengan frequent category / modus

imp = SimpleImputer(strategy='most_frequent')

In [22]:
# Tampilkan hasil imputasi "SepalLengthCm"

imp.fit(data[["SepalLengthCm"]])

SimpleImputer(strategy='most_frequent')

# Latihan (6)

### Melakukan handle missing value dengan Imputasi Random Sample:

     1. Load dataset Iris_Unclean
     2. Tampilkan 10 data teratas
     3. Membuat imputer random sample dengan random state = 5
     4. Cocokan imputer ke data
     5. Ubah data dengan imputer masukkan ke dalam variable
     6. Tampilkan hasil imputasi data "SepalLengthCm"

In [23]:
# load dataset Iris_Unclean

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

In [24]:
# tampilkan 10 data teratas SepalLengthCm

data["SepalLengthCm"].head(10)

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [25]:
# Membuat imputer random sample dengan random state = 5

imputer = RandomSampleImputer(random_state=5)

# Cocokan imputer ke data

imputer.fit(data)

# Ubah data dengan imputer masukkan ke dalam variable

test_t = imputer.transform(data)

In [28]:
# Tampilkan data hasil imputasi data "SepalLengthCm"

test_t["SepalLengthCm"]

0      5.8
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

# Latihan (7)

### Melakukan Winsorizing

    1. Import library winsorize dari scipy
    2. Load data Iris_AfterClean
    3. Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
    4. Winsorize data dengan batas nilai terendah 10% dan batas nilai tinggi 20%
    5. Tampilkan hasil winsorize

In [ ]:
# Import library scipy

import scipy as sp

In [29]:
# Load data Iris_AfterClean
data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

# Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
a = data["SepalLengthCm"].head(10)
a

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [30]:
# Winsorize data dengan batas nilai terendah 10% dan batas nilai tinggi 20%

wins = winsorize(a, limits=[0.1, 0.2])

# Tampilkan hasil winsorize
print(wins)

[5.4 4.9 4.7 4.6 5.  5.4 5.4 5.  4.6 4.9]

# Latihan (8)

### Melakukan Trimming

    1. Import library trima dari scopy
    2. Load data Iris_AfterClean
    3. Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
    4. Trimming data dengan batas nilai terendah 2 dan batas nilai tinggi 5
    5. Tampilkan hasil trimming

In [ ]:
# Import library trima dari scopy

import scipy.stats.mstats import trima

In [31]:
# Load data Iris_AfterClean
data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

# Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
a = data["SepalLengthCm"]
a

0      NaN
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [38]:
# Trimming data dengan batas nilai terendah 2 dan batas nilai tinggi 5

trims = trima(a, limits=(2,5))

# Tampilkan hasil trimming

print(trims)

[nan 4.9 4.7 4.6 5.0 -- nan 5.0 4.4 4.9 -- 4.8 4.8 4.3 -- -- -- -- -- --
 -- -- 4.6 -- 4.8 5.0 5.0 -- -- 4.7 4.8 -- -- -- 4.9 5.0 -- 4.9 4.4 -- 5.0
 4.5 4.4 5.0 -- 4.8 -- 4.6 -- 5.0 -- -- -- -- -- -- -- 4.9 -- -- 5.0 -- --
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 -- -- -- -- -- -- 5.0 -- -- -- -- -- -- -- -- -- -- -- -- 4.9 -- -- -- --
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- --]

# Latihan (9)

### Melakukan Scaling: Normalisasi

    1. Load data Iris_AfterClean 
    2. Ambil 10 data teratas SepalLengthCm dan SepalWidthCm
    3. Menghitung mean data
    4. Menghitung max - min pada data
    5. Menerapkan transformasi ke data
    6. Tampilkan hasil scalling

In [41]:
# Load data Iris_AfterClean 

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

# Ambil 10 data teratas SepalLengthCm dan SepalWidthCm

data = data[["SepalLengthCm", "SepalWidthCm"]].head(10)
data

   SepalLengthCm  SepalWidthCm
0            NaN           3.5
1            4.9        2000.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6
5            5.4           3.9
6            NaN           3.4
7            5.0           3.4
8            4.4        1500.0
9            4.9           3.1

In [42]:
# Menghitung mean
means = data.mean(axis = 0)

# menghitung max - min
max_min = data.max(axis = 0) - data.min(axis = 0)

# menerapkan transformasi ke data
train_scaled = (data - means) / max_min

In [44]:
# Tampilkan hasil scalling

train_scaled

   SepalLengthCm  SepalWidthCm
0            NaN     -0.174881
1         0.0375      0.824919
2        -0.1625     -0.175031
3        -0.2625     -0.175081
4         0.1375     -0.174831
5         0.5375     -0.174681
6            NaN     -0.174931
7         0.1375     -0.174931
8        -0.4625      0.574531
9         0.0375     -0.175081

# Latihan (10)

### Melakukan Scaling: Standardisasi

    1. Load data Iris_AfterClean 
    2. Ambil 10 data teratas SepalLengthCm dan SepalWidthCm
    2. Import library StandardScaler dari sklearn
    3. Membuat objek scaler
    4. Sesuaikan scaler dengan data
    5. Mengubah data 
    6. Tampilkan hasil scalling dengan standarisasi

In [45]:
# Load data Iris_AfterClean 

data = pd.read_csv("https://raw.githubusercontent.com/ammaresok/Dataset/main/Iris_unclean.csv")

# Ambil 10 data teratas SepalLengthCm dan SepalWidthCm

data = data[["SepalLengthCm", "SepalWidthCm"]].head(10)
data

   SepalLengthCm  SepalWidthCm
0            NaN           3.5
1            4.9        2000.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6
5            5.4           3.9
6            NaN           3.4
7            5.0           3.4
8            4.4        1500.0
9            4.9           3.1

In [48]:
# import library StandardScaler dari sklearn
from sklearn.preprocessing import StandardScaler

# Buat objek scaler
scaler = StandardScaler()

# Sesuaikan scaler dengan data
scaler.fit(data)

# Mengubah data
train_scaled = scaler.transform(data)

In [49]:
# Tampilkan hasil

train_scaled

array([[        nan, -0.49357664],
       [ 0.13271219,  2.32821409],
       [-0.57508614, -0.49400065],
       [-0.92898531, -0.49414199],
       [ 0.48661135, -0.4934353 ],
       [ 1.90220801, -0.49301129],
       [        nan, -0.49371798],
       [ 0.48661135, -0.49371798],
       [-1.63678363,  1.62152971],
       [ 0.13271219, -0.49414199]])